In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
Year_2020 = pd.read_csv("checkbook_explorerfy20.csv")

In [3]:
Year_2020.head()

,Voucher,Voucher_Line,Distribution_Line,Entered,Month_Number,Fiscal_Month,Month,Fiscal_Year,Year,Vendor_Name,Account,Account_Descr,Dept,Dept_Name,c6_Digit_Org_Name,Monetary_Amount
0,L0007084,1.0,1.0,2020-08-05,8.0,2.0,August,2021.0,2021.0,Indigo Block Apartments LLC,52926.0,ContServ Loans,188300,Neighborhood Development,Housing Development,864246.95
1,L0007085,1.0,1.0,2020-08-05,8.0,2.0,August,2021.0,2021.0,"35 Hansborough Affordable Housing, Inc.",52926.0,ContServ Loans,188300,Neighborhood Development,Housing Development,30719.45
2,L0007086,1.0,1.0,2020-08-05,8.0,2.0,August,2021.0,2021.0,"35 Hansborough Affordable Housing, Inc.",52926.0,ContServ Loans,188300,Neighborhood Development,Housing Development,60000.00
3,L0007087,1.0,1.0,2020-08-06,8.0,2.0,August,2021.0,2021.0,W & W Construction Corp.,52926.0,ContServ Loans,188300,Neighborhood Development,Housing Development,11952.00
4,L0007088,1.0,1.0,2020-08-06,8.0,2.0,August,2021.0,2021.0,W & W Construction Corp.,52926.0,ContServ Loans,188300,Neighborhood Development,Housing Development,3390.00

In [4]:
Year_2020.dtypes

Voucher               object
Voucher_Line         float64
Distribution_Line    float64
Entered               object
Month_Number         float64
Fiscal_Month         float64
Month                 object
Fiscal_Year          float64
Year                 float64
Vendor_Name           object
Account              float64
Account_Descr         object
Dept                  object
Dept_Name             object
c6_Digit_Org_Name     object
Monetary_Amount      float64
dtype: object

In [5]:
Year_2020.describe()

,Voucher_Line,Distribution_Line,Month_Number,Fiscal_Month,Fiscal_Year,Year,Account,Monetary_Amount
count,116124.000000,116124.000000,116124.000000,116124.000000,116124.000000,116124.000000,116124.000000,1.161240e+05
mean,5.491742,1.129258,6.775102,5.953403,2020.032801,2019.506209,53491.373420,1.174856e+04
std,16.782029,1.986451,3.502909,3.250961,0.178117,0.561753,967.845449,3.230484e+05
min,1.000000,1.000000,1.000000,1.000000,2020.000000,2019.000000,52106.000000,-4.337540e+05
25%,1.000000,1.000000,3.000000,3.000000,2020.000000,2019.000000,52906.000000,3.960000e+01
50%,1.000000,1.000000,7.000000,6.000000,2020.000000,2019.000000,53602.000000,2.356800e+02
75%,4.000000,1.000000,10.000000,9.000000,2020.000000,2020.000000,53901.000000,1.598385e+03
max,190.000000,50.000000,12.000000,12.000000,2021.000000,2021.000000,59404.000000,5.267375e+07

In [6]:
print(Year_2020.isnull().sum())

Voucher              4855
Voucher_Line         4855
Distribution_Line    4855
Entered              4855
Month_Number         4855
Fiscal_Month         4855
Month                4855
Fiscal_Year          4855
Year                 4855
Vendor_Name          4855
Account              4855
Account_Descr        4855
Dept                 4855
Dept_Name            4855
c6_Digit_Org_Name    4855
Monetary_Amount      4855
dtype: int64

In [13]:
df = Year_2020[["Dept_Name", "Monetary_Amount"]]
df

                       Dept_Name  Monetary_Amount
0       Neighborhood Development        864246.95
1       Neighborhood Development         30719.45
2       Neighborhood Development         60000.00
3       Neighborhood Development         11952.00
4       Neighborhood Development          3390.00
...                          ...              ...
120974           Fire Department           350.00
120975           Fire Department          5008.34
120976           Fire Department          2575.00
120977           Fire Department           350.00
120978           Fire Department           455.00

[120979 rows x 2 columns]

In [15]:
df.Dept_Name.value_counts()

Boston Public School Dept         56208
Police Department                 10887
Fire Department                    7541
Public Works Department            3418
Parks & Recreation Department      3363
Neighborhood Development           3268
Boston Center-Youth & Families     3156
Library Department                 3029
Dpt of Innovation & Technology     2898
Office of Economic Development     2715
Treas Dept - Treasury Division     2460
Transportation Department          2209
Property Management                2042
Emergency Management               1138
Central Fleet Management           1003
Inspectional Services Dept          866
Law Department                      846
Office of Arts & Culture            842
Elderly Commission                  803
Cemetery Division                   524
Neighborhood Services               522
Human Resources                     477
Environment Department              396
Assessing Department                355
Mayor's Office                      339
SPO Intelepath Centrex              320
Youth Engagement & Employment       311
Snow Removal                        275
Office of Tourism                   266
Election Department                 244
Public Facilities Dept              241
Parking Clerk                       229
City Clerk                          226
City Council                        206
Budget Management                   206
Labor Relations                     201
Collecting Division                 197
Purchasing Division                 180
Fair Housing & Equity               166
Auditing Department                 164
Workers Compensation Fund           154
Ofc of Immigrant  Advancement       154
Health Insurance                    147
Veterans' Services                  133
Procurement                         127
Intergovernmental Relations         105
Registry Division                   101
Consumer Affairs & Licensing         80
Age Strong                           74
Major Vendor Clearing Account        68
Com. for Persons With Disabili       56
Administration & Finance             47
Women's Advancement                  34
Finance Commission                   31
Office of Streets                    26
Housing Trust Fund                   22
Leading the Way                      11
Execution of Courts                  10
Risk Retention Reserve                4
Listing Board                         3
Name: Dept_Name, dtype: int64

In [17]:
sum1 = df.loc[df["Dept_Name"] == "Boston Public School Dept", "Monetary_Amount" ].sum()

In [18]:
sum1

347848461.28000003

In [22]:
 List1 = df.Dept_Name.unique()

In [27]:
Dict1 = dict()

for i in List1:
    Dict1[i] = df.loc[df["Dept_Name"] == i, "Monetary_Amount"].sum()
    
sort_orders = sorted(Dict1.items(), key=lambda x: x[1], reverse=True)
sort_orders
    
    #print(i , ": " , df.loc[df["Dept_Name"] == i, "Monetary_Amount"].sum())

[('Health Insurance', 366386980.37),
 ('Boston Public School Dept', 347848461.28000003),
 ('Public Works Department', 123276383.7),
 ('Treas Dept - Treasury Division', 108672756.36999999),
 ('Neighborhood Development', 70027254.69),
 ('Police Department', 55160349.0),
 ('Parks & Recreation Department', 43949942.61),
 ('Dpt of Innovation & Technology', 36974494.94),
 ('Fire Department', 34635929.78),
 ('Library Department', 32381868.810000002),
 ('Transportation Department', 22722759.43),
 ('Property Management', 22536001.659999996),
 ('Snow Removal', 12127159.46),
 ('Environment Department', 11600673.42),
 ('Execution of Courts', 9449722.81),
 ('Emergency Management', 9366054.24),
 ('Office of Economic Development', 8383504.62),
 ('Boston Center-Youth & Families', 7417498.62),
 ('Central Fleet Management', 5747456.3100000005),
 ('Parking Clerk', 4453292.800000001),
 ('Elderly Commission', 3998904.5100000002),
 ('SPO Intelepath Centrex', 3358203.74),
 ('Election Department', 2252385.1200000006),
 ('Law Department', 1988218.71),
 ('Inspectional Services Dept', 1825898.48),
 ('Office of Arts & Culture', 1746949.0599999998),
 ('Risk Retention Reserve', 1643336.0),
 ('Procurement', 1269583.91),
 ('Purchasing Division', 1185748.5),
 ('Human Resources', 1113082.5),
 ('Administration & Finance', 1039591.7199999999),
 ('Budget Management', 999958.07),
 ('Collecting Division', 888824.61),
 ('Major Vendor Clearing Account', 857092.6100000001),
 ('Youth Engagement & Employment', 815410.04),
 ('Age Strong', 763106.53),
 ('Housing Trust Fund', 547294.16),
 ('Auditing Department', 541723.7899999999),
 ('Cemetery Division', 524975.55),
 ('Neighborhood Services', 440060.95999999996),
 ('Intergovernmental Relations', 423088.74999999994),
 ('Office of Tourism', 384184.13),
 ('Assessing Department', 376522.56999999995),
 ("Mayor's Office", 253210.2),
 ('Workers Compensation Fund', 245287.22),
 ('Public Facilities Dept', 244828.83000000002),
 ('Office of Streets', 202104.66999999998),
 ('City Council', 197625.12),
 ('Listing Board', 186280.0),
 ('Ofc of Immigrant  Advancement', 155650.64),
 ('Labor Relations', 153716.16),
 ("Veterans' Services", 114857.30000000002),
 ('Registry Division', 109388.48000000001),
 ('City Clerk', 95459.93999999999),
 ("Women's Advancement", 74261.25),
 ('Leading the Way', 68743.98999999999),
 ('Fair Housing & Equity', 52499.34),
 ('Consumer Affairs & Licensing', 19062.1),
 ('Com. for Persons With Disabili', 13082.720000000001),
 ('Finance Commission', 1491.3600000000004),
 (nan, 0.0)]